* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContent{
  background-color: black;
}
.holder{
  height: 550px;
}
.centerText{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

.holderCarouselFiveRecent{
  height: 400px;
  display: flex;
  justify-content: center;
}

.carousel, .carousel-inner, .carousel-item, .carousel-item:active{
  height: 98%;
}

.imgCarouselRecent{
  height: 100%;
  background-position: center;
  background-size: cover;
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  width: auto;
}

.holderFilmCard{
  width: 15%!important;
}
.filmCard{
  height: 35%!important;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.card-img-top{
  height: 100%;
}

.filmCard::-webkit-scrollbar {
  display: none;
}

.card-body{
  height: 35%;
}

.linkDetail{
  height: 259px;
}
.test{
  object-fit: cover;
  width: 100%;
  height: 100%;
}