.holder{
  width: 100%;
  padding: 10px 10px 10px;
  background-color: black;
  margin-top: 20px;
  color: white;
}
.topicInfoHolder{
  background-color: rgba(44, 45, 51, 1.7);
  height: 40px;
}
.infoHolder{
  background-color: rgba(51, 51, 51, 0.7);
}
.holderTitle{
  text-align: left;
  padding-left: 20px;
}
.titleTopic{
  text-align: start;
  vertical-align: baseline;
  padding-top: 10px;
  padding-left: 20px;
}
.infoLastMessage{
  text-align: end;
  padding-right: 15px;
}
.titleTopic, .infoLastMessage{
  border-bottom: 2px solid white;
}