.main-inner {
    width: 100%;
    max-width: calc(100% - 30px); /* Largeur maximale moins la marge */
    padding: 0 15px 20px; /* Espace de 15px à gauche et à droite */
    margin: 15px 0px;
    box-sizing: border-box; /* Inclut les marges dans la largeur totale */
    backdrop-filter: brightness(0.1);
    color: white;
}

.build-info {
    text-align: left;
    height: 40px;
    justify-content: flex-start;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Styles pour la div contenant les informations découpées en colonnes */
.info-section {
    display: flex;
    flex-direction: column; /* Mettre en colonne */
    background-color: gray;
}

/* Styles pour chaque petite div */
.build-details {
    height: 55px;
    display: flex;
    flex-direction: row;
    border-top: 5px solid black;
    justify-content: space-between;
}

/* Styles pour les textes à l'intérieur des petites divs */
.build-lastMessage,
.build-date {
    text-align: right;
    padding-right: 10px;
}
.build-name{
    text-align: left;
    display: flex;
    align-items: center;
}

.modifyLink{
    margin-left: 15px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}