@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Borda.ttf);
}

* {
  font-family: myFirstFont;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content-wrapper {
  position: relative;
  height: 100%;
  background-image: url("../img/td2bg.jpg"); /* Chemin vers votre image de fond */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: brightness(
    0.7
  ); /* Effet de filtre pour obscurcir l'image de fond */
}

/* Styles pour la barre de navigation */
.navbar {
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  height: 40px; /* Ajoutez une hauteur fixe ici */
}

.navbar-logo img {
  width: 40px; /* Ajustez la taille du logo */
}

.navbar-title {
  font-size: 24px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.navbar-dropdown {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Couleur grise */
  min-width: 160px;
  right: 0;
  top: 100%;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555; /* Couleur de survol */
}

.subdropdown-button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.subdropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Couleur grise */
  min-width: 160px;
  right: 160px;
  top: 25%;
}

.subdropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.subdropdown-content a:hover {
  background-color: #555; /* Couleur de survol */
}

.subdropdown-button:hover .subdropdown-content {
  display: block;
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}
.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 0 20px;
}
.main-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.footer {
  background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond du footer */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer-left,
.footer-right,
.footer-center {
  text-align: center;
}
.footer-left,
.footer-right {
  flex: 1; /* Étirer les éléments pour occuper l'espace disponible */
}

.footer-center {
  flex: 2; /* Étirer davantage le centre pour le texte principal */
}

.footer a {
  color: white;
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}


#type-select{
  position: relative;
  right: 19%;
  width: 45%;
}
#searchInput{
  width: 100%;
}
.search{
  display: flex;
  width: 65%;
}
.searchButton{
  position: relative;
    right: 15%;
}