.holder{
  width: 100%;
  padding: 10px 10px 10px;
  background-color: black;
  margin-top: 20px;
  color: white;
  border-radius: 10px;
}
.topicInfoHolder{
  background-color: rgba(44, 45, 51, 1.7);
  height: 40px;
}
.infoHolder{
  background-color: rgba(51, 51, 51, 0.7);
}
.holderTitle{
  text-align: center;
  padding-left: 20px;
  font-size: 30px;
}
.titleTopic{
  text-align: start;
  vertical-align: baseline;
  padding-top: 10px;
  padding-left: 20px;
}
.infoLastMessage{
  text-align: end;
  padding-right: 15px;
}
.titleTopic, .infoLastMessage{
  border-bottom: 2px solid white;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.createTopicButton{
  background-color: black;
}