
/* Styles pour la div interne */
.inner-div {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.categoryTitle{
    --x: 50%;
	--y: 50%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 40px;
    border-bottom: 2px solid white;
    margin-bottom: 20px
}

h3{
    margin: 0;
}

.topicHolder{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid white;
    background-color: gray;
}

.linkHolder{
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.infoHolder{
    padding-right: 15px;
}

.main-content{
    height: calc(100% - 152px);
    padding: 25px 35px;
}
.holder{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3%;
    overflow: scroll;
}
.holder::-webkit-scrollbar {
    display: none;
}
.holder {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }