/* .holder {
  width: 100%;
  padding: 10px 10px 10px;
  background-color: black;
  margin-top: 20px;
  color: white;
  height: 100%;
  overflow: scroll;
  border-radius: 10px;
}
.topicInfoHolder {
  background-color: rgba(44, 45, 51, 1.7);
  height: 40px;
}
.infoHolder {
  background-color: rgba(51, 51, 51, 0.7);
}
.holderTitle {
  text-align: center;
  padding-left: 20px;
  font-size: 20px;
}
.messageTopic {
  text-align: start;
  padding-top: 25px;
  vertical-align: sub;
  padding-left: 20px;
}
.infoLastMessage {
  text-align: end;
  padding-right: 15px;
}
.messageTopic,
.infoLastMessage {
  border-bottom: 2px solid white;
}
.addMessage {
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100%;
}

.full-width-height {
  flex-grow: 1;
  resize: none;
}

.formButton {
  width: 10%;
  height: 30%;
  align-self: center;
  display: flex;
}

.holder::-webkit-scrollbar {
  display: none;
}
.holder {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.main-content {
  padding: 0 200px 0 200px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 43px;
  background-color: #111728;
  color: white;
}

.header {
  position: relative;
  overflow: hidden;
}

.breadcrumb-product{
  margin-top: 0;
  border-radius: 0.25rem;
  list-style: none;
  padding: 0.75rem 1rem;
  display: flex;
  background-color: transparent;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  letter-spacing: 0.125rem;
  font-weight: 400;
  font-size: 0.8125rem;
  flex-wrap: nowrap;
}

.breadcrumb-item{
  white-space: nowrap;
  margin-left: 5px;
}

.titleTopic {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  height: 60px;
}

.categoryButton {
  display: inline-block;
  padding: 0.3125rem 0.4375rem;
  font-size: 80%;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.125rem;
  background-color: #ffc107;
  display: inline-block !important;
  margin-right: 0.75rem !important;
  color: #3a4048 !important;
  font-weight: 600 !important;
}

.topicTitle {
  margin-bottom: 0 !important;
  font-size: 1.75rem;
  margin: 0;
}

.topic {
  position: relative;
}
.holder {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.message {
  margin-bottom: 1.5rem !important;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.border {
  border-radius: 0.25rem !important;
  border: 1px solid !important;
  border-color: #3a4048 !important;
}
.messageInfos {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #3a4048;
  justify-content: space-between;
}
.dateMessage,
.messageCount {
  font-size: 80%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.0625rem;
}

.messageComponents {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.userInfo {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  height: 100%;
}

.userInfoHolder {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-right: 1px solid #eff1f3;
  border-color: #3a4048;
  height: 100%;
}
.infoUser {
  margin-bottom: 0.5rem;
}
.username {
  font-weight: 600;
}
.profilePicture {
  vertical-align: middle;
  border-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  max-width: 10rem;
}
.dateJoinUser {
  font-weight: 600;
}

.messageContents {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.messageContentsHolder {
  height: 100%;
  padding-left: 1rem;
  flex-direction: column;
  display: flex;
}
.content {
  flex: 1;
}
.messageInfo {
  margin-top: 1.5rem;
}
.editedInfo {
  font-size: 0.8125rem;
  font-style: italic;
}

.responseTerms {
  margin-bottom: 1rem;
}
.responseTopic {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.messageBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  text-align: center;
  border: 1px solid #3a4048;
}
.input-transparent {
  color: #ffffff;
}

.form-row {
  display: flex;
  margin-right: -5px;
  margin-left: -5px;
  flex-direction: row;
  width: 100%;
}

.firstGroup {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  margin-bottom: 1rem;
  padding-right: 5px;
  padding-left: 5px;
}
.roundedImg {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  border-radius: 0.25rem;
}

.secondGroup {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  margin-bottom: 1rem;
  padding-right: 5px;
  margin-left: 5px;
}
.holderText{
  width: 100%;
}
.form-messageContent {
  margin: 0;
  font-family: inherit;
  overflow: auto;
  resize: vertical;
  background-clip: padding-box;
  border: 1px solid #3a4048;
  border-radius: 0.25rem;
  line-height: 1.9;
  display: block;
  width: 100%;
  transition: all 0.3s ease-out;
  font-size: 0.9375rem;
  font-weight: 300;
  height: auto;
  background-color: transparent;
  color: #ffffff;
}

.holderButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  padding: 0.4375rem 1.625rem;
  font-size: 0.6875rem;
  line-height: 1.9;
  border-radius: 0.15rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  cursor: pointer;
}
