/* Styles pour la div interne */
.content-wrapper{
    height: 96%!important;
}
.inner-div {
    flex: 1;
    /* Pour occuper toute la hauteur disponible */
    background-color: #ccc;
    /* Couleur de fond (modifiable selon vos besoins) */
    width: calc(100% - 40px);
    /* Largeur moins l'espace de marge */
    height: calc(100% - 40px);
    /* Hauteur moins l'espace de marge */
    color: white;
    background-color: black;

}

.categoryTitle {
    --x: 50%;
    --y: 50%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 40px;
    border-bottom: 2px solid white;
    margin-bottom: 20px
}

h3 {
    margin: 0;
}

.topicHolder {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    background-color: gray;
}

.linkHolder {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.textHolder {
    padding-left: 15px;
}

.infoHolder {
    padding-right: 15px;
    width: 16%;
    display: flex;
}

.main-content {
    height: calc(100% - 350px);
    padding: 25px 35px;
}

.addMessage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Étend la largeur des éléments à la largeur de la div */
    height: 15vh;
    position: relative;
    top: 263px;
}

.full-width-height {
    flex-grow: 1;
    /* Le textarea prend toute la hauteur disponible */
    width: 100%;
    /* Le textarea prend toute la largeur disponible */
    resize: none;
    /* Empêche le redimensionnement manuel du textarea */
}

button {
    width: 10%;
  height: 30%;
  align-self: center;
  display: flex;
}